fastapi
uvicorn[standard]
python-dotenv
pymongo
motor
pydantic
pydantic-settings
pyjwt
passlib[bcrypt]
python-multipart
email-validator
python-jose[cryptography]
stytch
openai>=1.0
pytest
pytest-asyncio
httpx
mongomock
jose
boto3
aiosmtplib